@media(width >= 768px){
header{
    background-image: url(assets/Oval\ Copy\ 2.svg);
    background-repeat: no-repeat;
    background-position: left;
    margin-right: -50px;
}
.ragac{
    flex-shrink: 0;
    display: contents;
    position: absolute;
    margin-top:-40px;
    justify-content: end;
}
.img1{
    margin-top: -250px;
}
.ragac{
    overflow: hidden;
    width: 266.667px;
    height: 400px;
}
.ragac img{
    width: 266.667px;
    height: 400px;
    flex-shrink: 0;
    margin-top: -60px;
    margin-left: 50px
}
.text{
    width: 520px;
height: 332px;
flex-shrink: 0;
gap: 32px;
text-align: start;
}.wre1,.wre2{
    width: 384px;
height: 384px;
flex-shrink: 0;
}
.text1{
    font-size: 64px;
    letter-spacing: -0.727px;
    margin-left: -84px;
}
.text2{
    font-size: 18px;
    margin-left: -84px;
    width: 514px;
}
main{
    width: 768px;
    margin-top: -194px;
    
}
.ooo{
    width: 696px;
height: 600px;
flex-shrink: 0;
padding:0 187px 0 229px;
margin-top: 249px;
}
.zeda{
    width: 270.206px;
height: 556px;
flex-shrink: 0;
margin: -147px 0px 0px -452px;
}
.witeli{
    width: 399px;
    height: 546px;
    flex-shrink: 0;
    margin: 182px 0 0 -93px;
}
footer{
    margin-top: -87px;
    display: flex;
    margin-left: 33px;
    margin-right: 33px;
    justify-content:space-between;

}

}

@media(width >= 1440px){

header{
 padding-left: 165px;
}
main{
    width: 1440px;
}
.text1{
    width: 1015px;
    margin-left: -293px;
    font-size: 88px;
    letter-spacing: -1px;
}
.text2{
    width: 825px;
    margin-left: -293px;
    font-size: 20px;
    margin-top: 40px;
}
.ooo{
    width: 1110px;
height: 600px;
flex-shrink: 0;
padding: 0 462px 0 336px;
}
.zeda{
    width: 280px;
height: 606px;
flex-shrink: 0;
margin: -159px 0 0 -489px;
}h1{
    font-size: 40px;
    line-height: 52px; /* 130% */
}
h2{
    width: 333px;
    font-size: 20px;
    line-height: 34px; /* 170% */
    margin-top: 22px;
}
.witeli{
    width: 446px;
height: 625px;
flex-shrink: 0;
margin: 121px 0 0 136px;
padding: 58px 59px 48px 58px;
}
button{
    width: 333px;
height: 61px;
flex-shrink: 0;
}
footer{
    display: flex;
    margin-left: 165px;
    gap: 359px;
    justify-content: space-between;
}
}
.left{
    display: flex;
    gap: 137px;
}
.all{
    margin-top: 0;
}
.logoes{
    margin-top: 29px;
}
